<div class="col-md-12 mt-3">
    <h2>Crear nuevo proveedor</h2>
    <span>
        @switch(status){
            @case (0){
                <div class="alert alert-success">Registro éxitoso</div>
            }
            @case (1){
                <div class="alert alert-warning">Registro no guardado</div>
            }
            @case (2){
                <div class="alert alert-danger">Error de servidor!</div>
            }
        }
    </span>
    <form #newProviderForm="ngForm" (ngSubmit)="onSubmit(newProviderForm)">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="provider.nombre" required>
        </div>

        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" name="descrip" #descrip="ngModel" [(ngModel)]="provider.descrip" required>
        </div>

        <div>
            <input type="submit" class="btn btn-primary mt-3" value="Guardar">
        </div>
    </form>

</div>