<div class="container mt-4">
  <h2 class="text-center">Gestión de Usuarios</h2>

  <input
    type="text"
    class="form-control mb-3"
    placeholder="Buscar por nombre, usuario, rol o correo"
    [(ngModel)]="searchTerm"
    (input)="search()"
  />

  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>
          <input
            type="checkbox"
            [checked]="isAllSelected()"
            (change)="toggleSelectAll()"
          />
        </th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Rol en el sistema</th>
        <th>Acción</th>
      </tr>
    </thead>  
    <tbody>
      <tr *ngFor="let user of paginatedUsers">
        <td>
          <input
            type="checkbox"
            [checked]="selectedUserIds.includes(user.idUsuario)"
            (change)="toggleSelection(user.idUsuario)"
          />
        </td>
        <td>{{ user.idUsuario }}</td>
        <td>{{user.name}}</td>
        <td>{{ user.user }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td class="text-center">
          <button class="btn btn-danger" (click)="deleteUser(user.idUsuario)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav *ngIf="totalPages > 1" class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
</nav>
<div id="buttons-users">
<button
  class="btn btn-danger"
  (click)="deleteSelectedUsers()"
  [disabled]="selectedUserIds.length === 0"
>
  <p style="font-size:small;">Eliminar {{ selectedUserIds.length }} usuario(s)</p>
</button>
<button [routerLink]="'/register-admin'" style="margin-left: 4%;" class="btn btn-primary">Registrar administrador</button>
</div>
</div>
