<div class="container mt-5" style="padding-bottom: 5%;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm rounded">
        <div class="card-body">
          <h3 class="text-center mb-4 fw-bold">Registro de Usuario</h3>
          <span>
            @switch(statusService.status) {
              @case(2) {
                <div class="alert alert-danger">¡Error de servidor!</div>
              }
            }
          </span>
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="mb-3">
              <label class="form-label">Nombre de usuario</label>
              <input
                type="text"
                name="userName"
                class="form-control"
                [(ngModel)]="user.user"
                #userName="ngModel"
                required
                pattern="^([A-Za-z0-9]){4,15}$"
              />
              @if (!userName.valid && userName.touched) {
                <small class="invalid-feedback d-block">Formato inválido</small>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input
                type="text"
                name="password"
                class="form-control"
                [(ngModel)]="user.password"
                #password="ngModel"
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[a-zA-Z]).{8,}$"
              />
              @if (!password.valid && password.touched) {
                <small class="invalid-feedback d-block">
                  Formato inválido: mínimo 8 caracteres, al menos un número y puede contener caracteres especiales.
                </small>
              }
            </div>
            <div class="mb-3">
              <label class="form-label">Correo</label>
              <input
                type="text"
                name="email"
                class="form-control"
                [(ngModel)]="user.email"
                #email="ngModel"
                required
                pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b"
              />
              @if (!email.valid && email.touched) {
                <small class="invalid-feedback d-block">Formato de correo inválido</small>
              }
            </div>
            <div class="d-grid gap-2 mt-3">
              @if (statusService.status == 0) {
                <button class="btn btn-success" [routerLink]="'/login'">
                  <i class="fa-solid fa-right-to-bracket me-1"></i>Login
                </button>
              }
              @else {
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="registerForm.invalid"
                >
                  Registrarse
                </button>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>