.header {
  text-align: center;
}

.left-column {
  width: 95%;
  padding: 10px;
}

.form-container {
  width: 60%;
}

.tabla-viajes {
  width: 60%;
}

.container {
  display: flex;
}

.search-travel {
  width: 45%;
}
