<div class="header">
  <h1>Gestión de Viajes</h1>
</div>
<div class="container">
  <form class="form-container" #travelForm="ngForm" (ngSubmit)="onSubmit(travelForm)">
    <div class="form-viajes left-column">
      <div class="form-name">
        <span>Nombre del viaje</span><br>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-sailboat"></i></span>
          <input type="text" class="nombre-viaje form-control" placeholder="Nombre Viaje" aria-label="nombre-viaje"
            aria-describedby="basic-addon1" name="type" [(ngModel)]="travel.tipoviaje" required>
        </div>
      </div>
      <div class="form-description">
        <span>Agrega una pequeña descripción del viaje</span><br>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-circle-info"></i></span>
          <textarea class="form-control" aria-label="detalles importantes" placeholder="Detalles importantes del viaje"
            name="description" [(ngModel)]="travel.descripcion" required></textarea>
        </div>
      </div>
      <input type="submit" class="btn btn-success mt-2" value="Guardar viaje" [disabled]="travelForm.invalid"
        [routerLink]="'/ad-viaje'">
    </div>
  </form>
  <table class="tabla-viajes table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">Índice</th>
        <th scope="col"> Tipo</th>
        <th scope="col"> Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of travels; index as i">
        <th scope="row">{{ item.idviaje }}</th>
        <td>{{ item.tipoviaje }}</td>
        <td>{{ item.descripcion }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="search-travel">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar un viaje por índice" [(ngModel)]="searchId"
      name="searchId" aria-label="Example text with two button addons">
    <button class="btn btn-outline-primary" type="button" (click)="getTravelById(searchId)">Buscar</button>
    <button class="btn btn-outline-secondary" type="button" (click)="updateTravel(travel.idviaje)">modificar</button>
    <button class="btn btn-outline-danger" type="button" (click)="deleteTravelById(searchId)">eliminar</button>
    <button class="btn btn-outline-warning" type="button" *ngIf="showSingleTravel" (click)="clearSearch()">Limpiar
      búsqueda</button>
  </div>
</div>
