<div class="container mt-4">
  <h3 class="mb-3">Lista de proveedores</h3>

  @if (status == 2) {
    <div class="alert alert-danger">Error al cargar los datos</div>
  }

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      @for (p of providers; track p.idProveedor) {
        <tr>
        <td>{{ p.idProveedor }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.descrip }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
